<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <span></span>
    </mat-toolbar-row>

    <mat-toolbar-row class="footer" fxLayout="row" fxLayoutAlign="center ">
        <span class='spacer'></span>
        <div fxLayout="column" fxLayoutAlign="start">
            <h3>About Us</h3>
            <a routerLink="">Our Team</a>
            <a routerLink="">Our Company</a>
            <a routerLink="">Token Listing</a>
            <a routerLink="">Join Us</a>
        </div>
        <span class='spacer'></span>
        <div fxLayout="column" fxLayoutAlign="start">
            <h3>Learn</h3>
            <a routerLink="">Legal</a>
            <a routerLink="">Terms of Use</a>
            <a routerLink="">AML&CFT</a>
            <a routerLink="">Privacy Policy</a>
        </div>

        <span class='spacer'></span>

        <div fxLayout="column" fxLayoutAlign="start">
            <h3>Help</h3>
            <a routerLink="">Support</a>
            <a routerLink="">API Support</a>
            <a routerLink="">Coin/Token Listing</a>
            <a routerLink="">Partnership</a>
        </div>
        <span class='spacer'></span>
        <div fxLayout="column" fxLayoutAlign="start start">
            <h3>Contact Us</h3>
            <a routerLink="">Email: Globaltrade@gmail.com</a>
            <a routerLink="">Phone: +21623925405</a>
        </div>

        <span class='spacer'></span>



    </mat-toolbar-row>
    <mat-toolbar-row>
        <span></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span></span>
    </mat-toolbar-row>
    <mat-toolbar-row><span class='spacer'></span>
        <small>© 2019 Copyright GLOBALTRADE</small>
        <span class='spacer'></span></mat-toolbar-row>
</mat-toolbar>